<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureMind</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
   <header>
    <div class="logo">
        <a href="{{ url_for('index') }}">
            <img src="../static/images/logo.png" alt="SecureMind logo">
            <span class="logo-text">SecureMind</span>
        </a>
    </div>
    <nav>
        <ul class="navigation" style="list-style: none; display: flex; margin: 0; padding: 0;">
            <li style="padding: 0 15px;"><a href="{{ url_for('login')}}">Login</a></li>
        </ul>
    </nav>
    </header>

    <div class="main">
  <input type="checkbox" id="chk" aria-hidden="true">
  <div class="login">
    <form action="{{ url_for('login_user') }}" method="post">
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required id="password">
        <label class="checkbox-label">
            Show Password
            <input type="checkbox" onclick="togglePassword()">
            <span class="slider"></span>
        </label>
        <br>
        <button type="submit">Login</button>
    </form>


  </div>
  <div class="signup">
    <form>
    <label for="chk" aria-hidden="true">Sign up</label>
    <img src="../static/images/register.png" alt="logo" height="208" width="308">
    <a href="{{ url_for('register') }}" class="register-btn">Register</a>
    </form>
  </div>
</div>

<script type="text/javascript" src="../static/javascript/togglePass.js"></script>
</body>
</html>