body {
    color: #ecf0f1;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: repeating-radial-gradient(#121b2c, #26395d, #271759);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #5b38be;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0,0,0,0.05);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    vertical-align: middle;
}

.logo-text {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 10px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2em;
    color: #ede7ff;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: #ede7ff;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #dcdde1;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/cover;
    padding: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 0 auto;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

button[type="submit"] {
    background-color: #5b38be;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #6d44b8;
}

#user-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#user-list ul {
    padding: 0;
}

#user-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3b5998;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#user-list li:hover {
    background-color: #4c70ba;
}

#user-list li span {
    flex: 1;
    color: #ecf0f1;
}

#user-list li form {
    margin: 0;
    display: inline;
}

#user-list li form button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #5b38be;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

#user-list li form button:hover {
    background-color: #6d44b8;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
        padding: 40px;
        margin: 20px auto;
    }

    form {
        flex-direction: column;
        align-items: stretch;
    }

    input[type="text"] {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    button[type="submit"] {
        width: 100%;
        border-radius: 4px;
    }

    #user-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    #user-list li span {
        margin-bottom: 10px;
    }

    #user-list li form button {
        margin: 5px 0 0 0;
    }
}

@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }

    .logo-text {
        font-size: 1.5rem;
    }

    .menu-toggle {
        display: block;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        display: none;
        width: 100%;
        text-align: center;
        background: #5b38be;
        position: absolute;
        top: 80px;
        left: 0;
    }

    nav ul.show-menu {
        display: flex;
    }

    nav ul li a {
        padding: 10px 0;
    }

    .container {
        width: 90%;
        padding: 20px;
        margin: 20px auto;
    }

    form {
        flex-direction: column;
        align-items: stretch;
    }

    input[type="text"] {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    button[type="submit"] {
        width: 100%;
        border-radius: 4px;
    }

    #user-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    #user-list li span {
        margin-bottom: 10px;
    }

    #user-list li form button {
        margin: 5px 0 0 0;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px;
    }

    header .logo a img {
        height: 50px;
        width: 50px;
    }

    .logo-text {
        font-size: 1.2rem;
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    form {
        width: 100%;
    }

    input[type="text"] {
        padding: 8px;
    }

    button[type="submit"] {
        padding: 8px 16px;
    }

    #user-list li {
        padding: 8px;
    }

    #user-list li form button {
        padding: 5px 10px;
        font-size: 12px;
    }
}