.slideshow-container {
  max-width: 100%;
  height: auto;
  top: 0;
  position: relative;
  margin: auto;
}

/* Slides */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

.dot-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.intro-section {
  padding: 15px 10px;
  text-align: center;
  background: #ffffff;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: -80px;
}

.intro-section h1 {
  margin-bottom: 10px;
  color: #5b38be;
}

h2 {
  color: #5b38be;
}

.intro-section p {
  font-size: 19px;
  padding-left: 90px;
  padding-right: 90px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.login-button {
  display: inline-block;
  margin: 10px auto;
  padding: 10px 20px;
  background: #5b38be;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.2em;
  transition: background 0.3s;
  text-align: center;
}

.login-button:hover {
  background: #271759;
}

@media screen and (max-width: 768px) {
  .mySlides img {
    width: 100%;
  }

  .prev, .next {
    font-size: 14px;
    padding: 12px;
  }

  .intro-section {
    padding: 20px 10px;
  }

  .intro-section h1 {
    font-size: 1.5em;
  }

  .intro-section p {
    font-size: 14px;
  }

  .login-button {
    padding: 10px 20px;
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  .prev, .next {
    font-size: 12px;
    padding: 10px;
  }

  .intro-section {
    padding: 15px 5px;
  }

  .intro-section h1 {
    font-size: 1.2em;
  }

  .intro-section p {
    font-size: 12px;
  }

  .login-button {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}
