* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 100%;
  height: auto;
  top: 80px;
  position: relative;
  margin: auto;
}

/* Slides */
.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
  height: auto; /* Asigură-te că imaginile își păstrează proporțiile */
}

/* Next & Previous Buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}

@keyframes fade {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .mySlides img {
    width: 100%; /* Asigură-te că imaginile sunt responsive */
  }
}

/* Stiluri pentru secțiunea de introducere */
.intro-section {
  padding: 50px 20px;
  text-align: center;
  background: #ffffff;
  color: #333;
}

.intro-section h1 {
  margin-bottom: 20px;
  color: #5b38be;
}
h2{
    color: #5b38be;
}

.intro-section p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.login-button {
  display: inline-block;
  margin: 20px auto;
  padding: 15px 30px;
  background: #5b38be;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.2em;
  transition: background 0.3s;
  text-align: center;
}

.login-button:hover {
  background: #271759;
}
