.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 100px 20px; /* Mai mult spațiu de padding în partea superioară */
    margin-top: 80px; /* Adaugăm un margin-top pentru a împinge cardurile mai jos */
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: 400px; /* Mărim lățimea maximă a cardurilor */
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 300px; /* Mărim înălțimea imaginilor */
    object-fit: cover;
}

.card h3 {
    margin: 20px 0;
    font-size: 1.8em; /* Mărim font-size-ul titlului */
    color: #333;
}

.card p {
    padding: 0 20px;
    font-size: 1.2em; /* Mărim font-size-ul textului */
    color: #777;
}

.card a {
    display: inline-block;
    margin: 20px 0 30px; /* Adăugăm un margin-bottom mai mare pentru aliniere */
    padding: 15px 30px; /* Mărim padding-ul butonului */
    background: #5b38be;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background 0.3s;
}

.card a:hover {
    background: #271759;
}
