<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - HealthShare</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/error.css">
</head>
<body>
   <header>
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="../static/images/logo.png" alt="HealthShare logo">
                <span class="logo-text">HealthShare</span>
            </a>
        </div>
        <div class="menu-toggle" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul id="menu" class="navigation">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                {% if session.is_authenticated %}
                    {% if session.role == 'admin' %}
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class = "container">
    <div class="error-container">
        <h1>Error!</h1>
        <img src="../static/images/error.png" alt="Unauthorized" id="error-image">>
        <p>{{ message }}</p>
        <a href="{{ url_for('services') }}" class="button">Go to Services</a>
    </div>
    </div>
    <footer>
        <p>Copyright &copy; 2024 BiancaBojescu</p>
    </footer>
<script type="text/javascript" src="../static/javascript/header_menu.js"></script>
</body>
</html>
