<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User - HealthShare</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/add_patient.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('index') }}">
                <img src="../static/images/logo.png" alt="HealthShare logo">
                <span class="logo-text">HealthShare</span>
            </a>
        </div>
        <div class="menu-toggle" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul id="menu" class="navigation">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                {% if session.is_authenticated %}
                    {% if session.role == 'admin' %}
                        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
    <div class="form-container">
        <form action="{{ url_for('update_user', user_id=user_id) }}" method="POST" class="update-user">
            {{ form.hidden_tag() }}
            <div>
                {{ form.last_name(placeholder='Last Name', required=True) }}
            </div>
            <div>
                {{ form.first_name(placeholder='First Name', required=True) }}
            </div>
            <div>
                {{ form.email(placeholder='Email', required=True) }}
            </div>
            <div>
                {{ form.profession(placeholder='Profession') }}
            </div>
            <div>
                {{ form.hospital() }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
    </div>
    <footer>
        <p>Copyright &copy; 2024 BiancaBojescu</p>
    </footer>
<script type="text/javascript" src="../static/javascript/header_menu.js"></script>
</body>
</html>
