<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthShare</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/view_intersection.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <header>
    <div class="logo">
        <a href="{{ url_for('index') }}">
            <img src="../static/images/logo.png" alt="HealthShare logo">
            <span class="logo-text">HealthShare</span>
        </a>
    </div>
    <nav>
        <ul class="navigation" style="list-style: none; display: flex; margin: 0; padding: 0;">
            <li style="padding: 0 15px;"><a href="{{ url_for('index') }}">Home</a></li>
            <li style="padding: 0 15px;"><a href="{{ url_for('services') }}">Services</a></li>
            {% if session.is_authenticated %}
                {% if session.role == 'admin' %}
                    <li style="padding: 0 15px;"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                {% endif %}
                <li style="padding: 0 15px;"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li style="padding: 0 15px;"><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    </header>

      <div class="container">
        <h1>View Intersection</h1>
        <form method="GET" action="{{ url_for('view_intersection') }}">
            <label for="search_query">CNP:</label>
            <input type="text" id="search_query" placeholder="Type CNP" name="search_query" required>
            <button type="submit">View Intersection</button>
        </form>

        {% if pacient %}
        <div class="patient-info">
            <h2><strong>Fisa medicala {{numele_spitalului}}</strong></h2>
            <p><strong>Nume:</strong> {{ pacient['nume'] }} {{ pacient['prenume'] }}</p>
            <p><strong>CNP:</strong> {{ pacient['cnp'] }}</p>
            <p><strong>Data Naștere:</strong> {{ pacient['data_nastere'] }}</p>
            <p><strong>Varsta ultimului consult:</strong> {{ pacient['varsta'] }}</p>
            <p><strong>Sex:</strong> {{ pacient['sex'] }}</p>
            <p><strong>Stare de sănătate:</strong> {{ pacient['fisa_medicala'] }}</p>
            <p><strong>Adresa:</strong> {{ pacient['adresa'] }}</p>
            <p><strong>Email:</strong> {{ pacient['email'] }}</p>
            <p><strong>Număr de telefon:</strong> {{ pacient['nr_telefon'] }}</p>
        </div>
        {% endif %}

        {% if not pacient %}
        <div class="not-found">
            <p>{{ not_found_message }}</p>
        </div>
        {% endif %}

        <br>
        {% if intersection_result %}
        <div class="intersection-result">
            <h2>Intersection Result</h2>
            <ul>
                {% for hospital in intersection_result %}
                <li>{{ hospital }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <footer>
        <p>Copyright &copy; 2024 BiancaBojescu</p>
    </footer>
</body>
</html>
