/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;

}
body, main {
  background: linear-gradient(to bottom, #271759, #26395d, #121b2c);
  margin: 0;
  font-family: Roboto, 'Jost', sans-serif;
}

.mat-toolbar.mat-primary {
  background-color: #5b38be;
}
