<body>
<div class="main">
  <input type="checkbox" id="chk" aria-hidden="true">
  <div class="login">
    <form>
      <label for="chk" aria-hidden="true">Login</label>
      <input type="email" name="email" placeholder="Email" required="">
      <input type="password" name="pswd" placeholder="Password" required="">
      <br>
      <button>Login</button>
    </form>
  </div>
  <div class="signup">
    <form>
      <label for="chk" aria-hidden="true">Sign up</label>
      <img ngSrc="assets/img/register.png" alt="logo" height="208" width="308">
      <span routerLink="../../dashboard/sign-up">
        <button>Sign up</button>
      </span>
    </form>
  </div>
</div>
</body>
